@font-face {
    font-family: myFirstFont;
    src: url("./Cavorting/Cavorting.ttf");
}

*{
    font-family: myFirstFont;
    color: #90603c;
    font-size: 105%;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: #e5dac3;
}

.bienvenida{
    margin: 0;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 27px;
}

img{
    border-radius: 2px;
    display: flex;
    margin: auto;
}

section{
    background-color: #e5dac3;

}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
}

.iconosR{
    display: flex;
}
